# Dependencies
node_modules

# Build
.next
dist
build
out

# Environment
.env
.env.local
.env.production

# Git
.git
.gitignore
.gitattributes

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
Dockerfile
.dockerignore
docker-compose.yml

# Other
*.md
coverage
